.coroperate{
    min-height:200px;
    padding-top:20px;
    background-image: url('../../img/homepage/famousSchool.png');
    background-position:top center;
    background-repeat:no-repeat;
    background-color: #2f5c89;
}