.crumb-title {
    margin: 22px 0;
    border-bottom: 1px solid #ececec;
    padding-bottom: 12px;
    font-size: 22px;
}
.crumb-title-sub {
    font-size: 16px;
    margin-left: 12px;
    color: seagreen;
}

.topicPanel-item {
    display: inline-block;
    width: 38px;
    border: 1px solid #2f5c89;
    margin: 2px;
    text-align: center;
    height: 28px;
    line-height: 28px;
}
.topicPanel-item:hover {
    cursor: pointer;
    background-color: green;
    color: #fff;
}
.topicPanel-item.active {
    background-color: #2f5c89;
    color: #fff;
}

.topicPanel {
    max-height: 486px;
    overflow: auto;
    max-width: 870px;
    border: 2px solid #2f5c89;
    padding: 2px;
}

 .ant-card-head-title {
    font-size: 16px;
    font-weight: 600;
}
 .ant-card-body {
     padding: 0;
}
.countdown-wrap {
    margin-bottom: 15px;
}

.panelItem-title {
    margin: 25px 0;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
}
.ant-alert-description {
    font-size: 14px;
}
.panelItem-info-errorNo {
    font-weight: 600;
    color: red;
    margin: 0 4px;
}
