.topicPanel-item {
    display: inline-block;
    width: 38px;
    border: 1px solid #2f5c89;
    margin: 2px;
    text-align: center;
    height: 28px;
    line-height: 28px;
}
.topicPanel-item:hover {
    cursor: pointer;
    background-color: green;
    color: #fff;
}
.topicPanel-item.active {
    background-color: #2f5c89;
    color: #fff;
}

.topicPanel {
    max-height: 250px;
    overflow: auto;
    max-width: 870px;
    border: 2px solid #2f5c89;
    padding: 2px;
}